
*{/*초기화*/
  margin: 0px;
  padding:0px;
  box-sizing: border-box;/*이거하면 크기 계산하기 편하다고*/
}
header{
  border: 1px solid white;
  background-color: #181818;
  width: 100%;
  display: flex; /*자식 요소가 flex아이템이됨, 정렬이 편해짐*/
  position: relative; /*자식태그 위치잡아주기용*/
  flex-direction: column;
  z-index: 0;
}
#bgimg{
  border: 1px solid white;
  position: absolute; /* 부모태그안에서 위치 잡는용*/
  width: 100%;
  height: 100%;
  object-fit: cover; /*이미지가 범위를 초과하면 그냥 잘리고 범위가 유지됨*/
  object-position: center;
  filter : blur(15px) brightness(15%); /*배경이미지 흐릿하고 어둡게하는 효과*/
  z-index: 1;
}
.inner {
  /* border: 1px solid white; */
  width: 100%;
  max-width: 1100px;
  min-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;/*구성요소를 범위 양쪽끝에 정렬*/
  align-items: center;
}
#header-centerbox{
  position: relative;
  width: 100%;
  min-width: 1100px;
  height: 921.39px;
  padding-top: 15px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* 구성요소가 범위 내 제일위에서 시작하게 만들어줌*/
  z-index: 2;
}
#header-headerbox{
  width: 100%; 
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  z-index: 2;
}
#header-top-left{
  /* border: 1px solid white; */
  font-size: 13.0005px;
  width: fit-content;
  height: fit-content;
  display: flex;
  font-family: NanumBarunGothic, Dotum, '돋움', sans-serif;
  z-index: 4;
}
.top-left-list{
    /* border: 1px solid white; */
  margin-right: 20px;
  margin-top: 15px;
  height: fit-content;
  width: fit-content;
  color: #888;
  text-decoration: none;
  z-index: 4;
}

#header-top-right{
  /* border: 1px solid white; */
  font-size: 13.0005px;
  width: fit-content;
  height: fit-content;
  display: flex;
  font-family: NanumBarunGothic, Dotum, '돋움', sans-serif;
   z-index: 4;
}
.top-right-list{
    /* border: 1px solid white; */
  margin-left: 20px;
  margin-top: 15px;
  height: fit-content;
  width: fit-content;
  color: #888;
  text-decoration: none;
  z-index: 4;
}

.top-left-list:hover{
  text-decoration: underline;
}
.top-right-list:hover{
  text-decoration: underline;
}
#header-nav .inner {
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-nav {
  /* border: 1px solid blue; */
  justify-content: space-between;
  align-items: center; /* 교차축상에서 정렬, justify-content는 메인축상에서 정렬*/
  z-index: 2;
}
.logo{
  flex: none;
  text-align: center;
}
.header-nav-left, .header-nav-right{
  /* border: 1px solid yellow; */
  flex: 1;
  display: flex;
  align-items: center;
  cursor: pointer; /*마우스 올리면 마우스모양 누르는 모양으로 바뀜*/

}
.header-nav-left{
  margin-left: 5px;
}
.header-nav-right{
  margin-right: 5px;
}
.header-icon-left, .header-icon-right{
  vertical-align: middle; /*이미지랑 텍스트가 같은줄에 있을 때, 줄가운데 높이에 맞춰줌, 높이정렬이 깔끔해짐*/
}
.header-nav-left a, .header-nav-right a{
  color: white;
  text-decoration: none;
  margin: 0px 30px;
  font-size: 17px;
}
.header-nav-left a:hover, .header-nav-right a:hover{
  border-bottom: 3px solid white;
}
.header-nav-left img, .header-nav-right img{
  margin: 0px 10px;
  filter: brightness(400%);
}
.header-nav-left img[alt="검색"]{
  margin-right: 70px;
}

#header-nav .inner{
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.header-nav-right img[alt="상영시간표"]{
  margin-left: 48px;
}
.header-nav-right{
  justify-content: flex-end;
}
.header-nav-hidemenu{
  display: inline-block; /*인라인처럼 한줄에 배치되지만 블록처럼 width, height 적용 가능*/
}
.header-nav-hidemenu-ul{
  /* border: 1px solid white; */
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 44px;
  background: rgba(0,0,0,0.25);
}
.header-nav-hidemenu:hover .header-nav-hidemenu-ul {
  display: block;
}
.header-nav-hidemenu:hover .header-nav-hidemenu-ul li{
  /* border: 1px solid yellow;   */
  margin-top: 5px;
}
.nav-inner{
  /* border: 1px solid red; */
  width: 100%;
  max-width: 1100px;
  min-width: 1100px;
  justify-content: left;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
#fastbooking{
  margin-left: 166px;
}
#wholetheater{
  margin-left: 280px;
}
#ingevent{
  margin-left: 489px;
}
#membership{
  margin-left: 730px;
}
#header-centerbox .inner{
  /* border: 1px solid white; */
  margin-top: 90px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.header-textbox-boxoffice{
  /* border: 1px solid white; */
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
}
#boxoffice{
  position: absolute;
  left: 47%;
  color: white;
  font-size: 16px;
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 2.5px solid rgba(255, 255, 255, 0.2);
}
#moremovie{

  justify-content: end;
  color: white;
  font-size: 16px;
  text-decoration: none;
}
.header-movieposter img{
  border-radius: 8px;
}
.header-movieposter{
  display: flex;
  width: 100%;
  justify-content: space-between;

}
.movieposter-mouseover img:hover{
  transform: scale(1.1);
}
.header-movieposter-btn{
  /* border: 1px solid white; */
  display: flex;
  width: 100%;
  height: 36px;
  justify-content: space-between;
}
.header-movieposter-btn-box{
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  width: 245px;
  height: 36px;
  margin-top: 5px;
  justify-content: space-between;
}
.btn-like{
  background-color: rgba(0, 0, 0, 0.3);  
  color: white;
  width: 80px;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heart-overflow{
  /* border: 1px solid white; */
  width: 17px;
  height: 15px;
  overflow: hidden;
  margin-right: 4px;
}
.btn-like img{
  width: 34px;
  height: 15px;
  overflow: hidden;
}
.btn-like img:hover{
  transform: translateX(-17px)
}
.btn-yeme{
  width: 160px;
  height: 100%;
  background-color: #037b94;
  color: white;
  border-radius: 5px;
  cursor: pointer;

}
#header-mid-menu-box{
  display: flex;
  width: 100%;
  padding: 23px 0 23px;
  margin: 50px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);

}
.header-mid-menu1, .header-mid-menu2, .header-mid-menu3{
  /* border: 1px solid white; */
  width: 275px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  justify-content: center;
}
.header-mid-menu4{
  /* border: 1px solid white; */
  width: 275px;
  justify-content: center;
}
.header-mid-menu2, .header-mid-menu3, .header-mid-menu4{
  display: flex;
}
.header-mid-menu2 a, .header-mid-menu3 a, .header-mid-menu4 a{
  text-decoration: none;
  font-size: 15px;
  color: white;
}
#moviesearch{
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  color: white;
}
.input-text{
  padding: 0 5px;
  vertical-align: middle;
  font-family: sans-serif;
  font-size: 15px
}
.ico-boxoffice-main, .quick-reserve-main, .ico-schedule-main{
  margin-right: 7px;
}
img{
  vertical-align: middle;
}
.header-bottom-mouse-box{
  /* border: 1px solid white; */
  position: absolute;
  width: 100%;
  padding-left: 49.5%;
  justify-content: center;
  bottom: 180px;
}
.main-mainbox .inner{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.main-mainbox{
  width: 100%;
  position: relative;
  background-color: #252451; 
}
.main-textbox-top{
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 50px 0 40px;
}
.main-textbox-curation{
  color: white;
}
.morecuration{
  right: 0%;
  text-decoration: none;
  color: #aaaaaa;
}
.main-section{
  display: flex;
  width: 100%;
  height: 600px;
  margin-bottom: 115px;
}
.main-section-textbox {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 50px;
}
.main-section-moving{
  display: flex;
  align-items: flex-start;
  margin-left: 20px;
  width: 100%;
}
.moving-img{
  display: block;
  border-radius: 18px;
}
.main-section-textbox p{
  color: white;
  line-height: 1.6;
}
.main-section-text-filmsociety{
  font-size: 18px;
}
.main-section-text-moving{
  display: block;
  width: 100%;
  font-size: 40px;
  padding-bottom: 30px;
  border-bottom:1px solid rgba(255, 255, 255, 0.3);
}
.main-section-btnbox{
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 60px;
  padding-top: 10px;
}
.main-btn-yeme{
  width: 145px;
  height: 100%;
  background-color: #037b94;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  border: none;
}
.main-btn-information{
  border: 1px solid white;
  background-color: #252451;
  color: white;
  width: 145px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.main-section-ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  font-size: 14.48px;
  text-align: center;
  margin-top: 10px;
}
.main-section-imgbox a img:hover{
  transform: scale(1.1);
}
.main-section-imglistbox img{
  border-radius: 10px;
}
.main-section-imglistbox:hover{
  transform: scale(1.1);
}
.main-section-bottom h2{
  padding: 50px 0 38px;
  font-size: 29px;
  color: #252451;
  font-weight: normal;
}
.main-section-bottom ul{
  display: flex;
  list-style: none;
  width: 1100px;
  justify-content: space-between;
}
.main-section-bottom ul li {
  width: 170px;
  height: 170px;
  overflow: hidden;
  border-radius: 10px;
}
.main-section-bottom ul li img{
  display: block;
  width: 170px;
  height: 340px;
}

.main-section-bottom ul li img:hover{
  transform: translateY(-170px) scale(1.1);
  cursor: pointer;

}
.main-mainbottombox-slidearrow{
  position: relative;
  display: flex;
  /* border: 1px solid black; */
  width: 1200px;
  justify-content: space-between;
  margin: auto;
  top: 235px;
}
.section-info-notice{
  position: relative;
  margin-top: 50px;
  height: 60px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
}

.section-info-notice p, a{
  color: black;
}
.section-info-notice a{
  text-decoration: none;
}
.section-info-notice a:hover{
  text-decoration: underline;
}

#info-notice-megabox{
  border-right: 1px solid #e2e2e2;
  padding-right: 20px;
}
.notice{
  width: 76%;
  padding: 0 20px 0;
  /* border: 1px solid black; */
}
#info-notice-date{
  border-right: 1px solid #e2e2e2;
  padding-right: 10px;
}
.more img{
  margin-left: 5px;
}
.main-info-menu{
  padding: 50px 0 50px;

}
.main-info-menu ul{
  /* border: 1px solid black; */
  display: flex;
  list-style: none;
  width: 1100px;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding:0 30px 0 65px;
}
.main-info-menu ul li p{
  margin-top: 10px;
  color: black;
  line-height: 1.2;
  font-size: 14px;

}
.main-info-menu ul li a{
  text-decoration: none;
}
.main-info-menu ul li:hover{
  text-decoration: underline;
  transform: scale(1.1);
}
footer{
  height: 200px;
  background-color: #f8f8fa;
}
footer .inner{
  display: flex;
  flex-direction: column;
}
.footer-info{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0 30px;
  vertical-align: middle;
}
.footer-info-linkbox a{
  text-decoration: none;
  margin-right: 5px;
  font-size: 13px;
}
.footer-info-grey{
  color: #666666;
}
.footer-info a{
  text-decoration: none;
  font-size: 13px;
  vertical-align: middle;
}
#footer-search{
  border: 1px solid #d8d9db;
  color:#666666;
  border-radius: 20px;
  width: 106px;
  height: 30px;
  text-align: center;
  align-items: center;
  padding-top: 2px;
}
#footer-search img{
  margin-right: 6px;
}
.footer-info-linkbox a:hover{
  text-decoration: underline;
}
.footer-info-company{
  display: flex;
  justify-content: space-between;
  width: 100%;
  vertical-align: middle;
}
/* .footer-logo-img{
 border: 1px solid black;
 }  */
.footer-comapany-address{
  /* border: 1px solid black; */
  font-size: 13px;
  color: #444444;
}
.footer-img-ul{
  /* border: 1px solid black; */
  list-style: none;
}
.footer-img-ul ul{
  display: flex;
  list-style: none;
}

.footer-img-ul ul li{
  margin: 0 3px 0;
}
